# Python cache
__pycache__/
*.pyc

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Environment files
.env
customer_personality_analysis_agent/

# Other files - pickle object & database files
*.pkl
*.db

.vscode/